@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  @apply antialiased text-slate-900 bg-slate-50;
}

.glass-card {
  @apply bg-white/80 backdrop-blur-md border border-white/20 shadow-xl;
}

.gradient-text {
  @apply bg-clip-text text-transparent bg-gradient-to-r from-blue-600 to-indigo-600;
}